.profile__btn {
  box-sizing: border-box;
  border: solid 1px #fff;
  background: none;
  background-position: center center;
  background-repeat: no-repeat;
}

.profile__btn:hover {
  opacity: .6;
  cursor: pointer;
}
