.card-grid__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 214px;
}

/* @media screen and (max-width: 984px) {
  .card-grid__name {
    font-size: 21px;
    line-height: 26px;
  }
}
 */
