.profile__btn_edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../../images/button_edit.svg);
  background-size: 10px;
}

@media screen and (max-width: 590px) {
  .profile__btn_edit {
    width: 18px;
    height: 18px;
    background-size: 7px;
  }
}
