.button__add {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: solid 1px #fff;
  background: none;
  background-image: url(../../../images/button_add.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px;
}

.button__add:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 984px) {
  .button__add {
    width: 125px;
  }
}

@media screen and (max-width: 715px) {
  .button__add {
    width: 88px;
  }
}

@media screen and (max-width: 590px) {
  .button__add {
    margin-top: 36px;
    width: 282px;
  }
}
