.profile__specialization {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  align-self: flex-start;
  margin-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 715px) {
  .profile__specialization{
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
  }
}
