.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 318px;
}

@media screen and (max-width: 984px) {
  .profile__name {
    font-size: 35px;
    line-height: 39px;
  }
}

@media screen and (max-width: 715px) {
  .profile__name {
    font-size: 23px;
    line-height: 28px;
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 590px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}

/* @media screen and (max-width: 330px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-left: ;
  }
} */
