.button__saving {
  background: #000;
  color: #fff;
  font: 'Inter','Arial', 'sans-serif';
  border-radius: 2px;
  border: solid 1px #000;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 0;
}

.button__saving:hover {
  opacity: .8;
}
