.button__edit {
  width: 24px;
  height: 24px;
  border: solid 1px #fff;
  background: none;
  box-sizing: border-box;
  background-image: url(../../../images/button_edit.svg);
  background-position: center center;
  background-size: 10px;
  background-repeat: no-repeat;
}

.button__edit:hover {
  opacity: .6;
  cursor: pointer;
}
