.like {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background: none;
  background-image: url(../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;

}

.like:hover {
  opacity: .6;
  cursor: pointer;
}
