.card-grid__img {
  max-width: 282px;
  max-height: 282px;
}

/* @media screen and (max-width: 984px) {
  .card-grid__img {
    max-width: 252px;
    max-height: 252px;
  }
}

@media screen and (max-width: 753px) {
  .card-grid__img {
    max-width: 325px;
    max-height: 325px;
  }
} */
